
<!DOCTYPE html>
<html>
  <head>
    <title>Create a Team and Heros</title>
  </head>
  <body>
    <h1>Create a Team and Heros!</h1>
    <form action="/teams" method="post">
      <h3>Team Name: <input type="text" name="team[name]"></h3>
      <h3>Team Moto: <input type="text" name="team[moto]"></h3>
      <h2>Hero 1</h2>
      <h3>Member1 Name: <input id="member_name_1" type="text" name="team[members][][name]"></h3>
      <h3>Member1 Power: <input id="member_power_1" type="text" name="team[members][][power]"></h3>
      <h3>Member1 Biography: <input id="member_bio_1" type="text" name="team[members][][bio]"></h3>

      <h2>Hero 2</h2>
      <h3>Member2 Name: <input id="member_name_2" type="text" name="team[members][][name]"></h3>
      <h3>Member2 Power: <input id="member_power_2" type="text" name="team[members][][power]"></h3>
      <h3>Member2 Biography: <input id="member_bio_2" type="text" name="team[members][][bio]"></h3>

      <h2>Hero 3</h2>
      <h3>Member3 Name: <input id="member_name_3" type="text" name="team[members][][name]"></h3>
      <h3>Member3 Power: <input id="member_power_3" type="text" name="team[members][][power]"></h3>
      <h3>Member3 Biography: <input id="member_bio_3" type="text" name="team[members][][bio]"></h3>

      <input type="submit" value="Submit">
    </form>
  </body>
</html>
